body, html {
    overflow-x: hidden !important;
    font-family: 'Montserrat', sans-serif;
font-family: 'Oooh Baby', cursive;
}

header{
    background: #8B4513;
    padding: 1em 0;
    
}
.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}

nav a:hover{
    color: #c79c18;
    text-decoration: underline;
}

main{
    
    background: linear-gradient(burlywood, brown, burlywood)
}

p{
    font-size: 2em;
    font-weight: bold;
}

h1{
    font-size: 2em;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
}

.produtos li{
    justify-content: space-between;
    width: 30%;
    text-align: center;
    margin: 0 1.5%;
    box-sizing: border-box;
    padding: 30px 20px;
    vertical-align: top;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover h1{

    font-size: 34px;
    transition: 400ms;

}

.produtos li:hover{
    border-color: #c79c18;
}

.foto-cento{
    width: 100%;
}

footer{
    text-align: center;
    background: #8B4513;
    padding: 1em;

}

.imagem-rodape{
width: 7%;
}

.copyright{
    font-size: 18px;
    color: #FFFFFF;
}

legend{
    color: #FFFFFF
}