.rodape{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: #cfcccc;
    padding: 1em;
}

.imagem-rodape{
width: 7%;
}

.copyright{
    font-size: 18px;
    color: #000
}

.rodape__descricao{
    color: #000
    
}

